<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--bootstrap cdn-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
        <!--vue js cdn-->
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <!--fontawsome-->
        <link rel="stylesheet"  href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <!--css-->
        <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" class="main">
        <div class="input-icons">
             <i class="fa fa-search icon"> </i>
            <input  class="input-field" type="text" v-model="search" :placeholder="placeholder"/>
        </div>
        <div class="formate">
            <div class="inner" v-for="post in filteredList">
                <img v-bind:src="post.img"/>
                {{ post.title }}
            </div>
        </div>
     </div>
    <script src="main.js"></script>
</body>
</html>
